@{
    ViewData["Title"] = "Home Page";
}

@model List<Product>

<section>
    <div class="container">
        <h2>Products</h2>
        @* <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <img src="~/images/@product.ImageFileName" style="height: 200px; width: 300px;" class="card-img-top" alt="Product Image">
                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <p class="card-text">Type: @product.Type</p>
                            <p class="card-text">Price: $@product.Price</p>
                            <p class="card-text">Description: @product.ProductDescription</p>
                        </div>
                    </div>
                </div>
            }
        </div> *@
    </div>
</section>

